*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #393A96;

}

main{
    height: 800px;

    #box{
        background-color: #22225C;
        width: 350px;

        h1{
            font-size: 22px;
        }

        #passwordContainer{
            background-color: #141436;
        }

        input[type="checkbox"] {
        	accent-color: #4CAF50;
    	}

        #copy{
            background-color: #393A99;
        }
        
        #generate{
            background-color: #393A99;
        }

        #inputNumber{
            font-size: 13px;
        }
    }

}