*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #393A96;

}

main{
    height: 800px;

    #box{
        background-color: #22225C;
        width: 350px;

        h1{
            font-size: 22px;
        }

        #password{
            background-color: #141436;
        }

        #copy{
            background-color: #393A99;
        }

        #bite{
            height: 30px;
            width: 30px;
        }
        
        #generate{
            background-color: #393A99;
        }
    }

}